<footer>
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors. All rights reserved.</p>
</footer>
<p><a href="/trigger-error">Trigger Server Error</a></p>
<p>&copy; 2025 CSE Motors. All rights reserved.</p>
