<nav class="main-nav">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/inv/type/custom">Custom</a></li>
    <li><a href="/inv/type/sedan">Sedan</a></li>
    <li><a href="/inv/type/suv">SUV</a></li>
    <li><a href="/inv/type/truck">Truck</a></li>
    <li><a href="/inv/type/luxurysuv">Truck</a></li>
    <li><a href="/inv/type/Convertible">Truck</a></li>
  </ul>
  <div class="account-link">
    <a href="/account">My Account</a>
  </div>
</nav>
